name: Terraform Apply



on:

  push:

    branches: [ main ]



jobs:

  apply:

    runs-on: ubuntu-latest



    environment: production



    steps:

      - uses: actions/checkout@v4



      - name: Setup Terraform

        uses: hashicorp/setup-terraform@v3



      - name: Terraform Init

        run: terraform init



      - name: Terraform Apply

        run: terraform apply -auto-approve


